[variables]
PRISMA_SKIP_POSTINSTALL_GENERATE = "true"

[phases.setup]
nixPkgs = ["nodejs_20", "openssl"]

[phases.install]
cmds = ["npm ci --ignore-scripts"]

[phases.build]
cmds = []

[start]
cmd = "npx prisma generate && npx prisma db push && node src/index.js"

